@font-face{
    font-family: Helvetica,'Poppins',Times New Roman,SourceHanSansCN;
    font-display: block;
    src: url("https://fonts.font.im/css?family=Poppins:300,400,500");
}
.noselect{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
*{
    justify-items: center;
    margin: 0px;
    padding: 0px;
}
button:focus{
    outline: none;
}
body{
    background-color: #FdFdFd;
}
.mainbox{
    display:flex;
    height: 100vh;
    width: 100vw;
}
.container{
    width: calc(92vw - 80px);
    height: calc(95vh - 60px);
    padding: 20px 27px;
    margin:0px auto;
    align-self: center;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    box-shadow:0px 0px 10px 1px #00000013;
    background-color: #ffffff;
    color: #454545;
    font-family: "Poppins";
}
.icon{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    background-image: url(CydiaIcon.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F6F6F6;
    margin: 30px auto 20px auto;
}
.motto{
    background-color: #f3f3f3;
    padding: 10px;
    width: 90%;
    margin: 15px auto;
    border-radius: 50px;
    font-weight: 500;
    font-size: 12px;
}
.box{
    background-color: #F3F3F3;
    border-radius: 20px;
    width:100%;
    margin: 0px auto;
    padding: 10px 0px;
}
.box-icon{
    width:55px;
    height:55px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #F6F6F6;
    margin:0px auto;
}
.addrepo{
    background-color: #0077ff;
    border-radius: 7px;
    border: none;
    color: #ffffff;
    height: 35px;
    margin: 10px 0px;
    display: inline-flex;
    padding: 3px 7px;
    transition: all .2s;
}
.addrepo:active{
    background-color:#001aff;
}
.addicon{
    border-radius: 50%;
    width: 22px;
    height:22px;
    align-self: center;
    background-image: url(plus.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80% 80%;  
    margin-right: 7.5px; 
}
.copyright{
    margin: 10px auto;
    color: #aaaaaa;
    font-size: 12px;
}